@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    font-family: 'PingFang TC', 'Roboto', 'Noto Sans TC', '微軟正黑體', 'Arial',
      sans-serif;
    color: #222222;
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 56px;
    }
  }

  h2 {
    font-size: 28px;
    line-height: 44px;
    @media (min-width: 768px) {
      font-size: 32px;
      line-height: 48px;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 44px;
    }
  }
  h4 {
    font-size: 20px;
    line-height: 32px;
    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  ul {
    list-style-type: disc; /* 讓無序列表恢復圓點樣式 */
  }
  
  ol {
    list-style-type: decimal; /* 讓有序列表恢復數字樣式 */
  }
  ul.list-disc,
  ol.list-decimal {
    padding-left: 1.5rem;
  }
  ol.list-alpha {
    padding-left: 1.5rem;
  }
  ol.list-ideographic {
    padding-left: 2rem;
  }

  .icon {
    font-size: 24px;
    color: #222222;
  }
  .ps__rail-x ps--clicking {
    z-index: 100;
  }
  .ps__rail-x {
    height: 1px; /* 設定橫向滾動條的高度 */
  }
}
@layer utilities {
  .homepage {
    background-image: url('./assets/images/bg.png');
    @apply bg-cover bg-no-repeat;
  }
  .wrapper {
    @apply w-full px-4 md:px-[22px] lg:px-6 xl:mx-auto xl:max-w-[1140px] xl:px-0;
  }
  .section-wrapper {
    @apply w-full px-4 py-[30px] md:px-[22px] md:py-[40px] lg:px-6 xl:mx-auto xl:max-w-[1140px] xl:px-0 xl:py-[60px];
  }
  .text-sub {
    font-size: 16px;
    line-height: 24px;
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .title-underline {
    &:after {
      margin-top: 4px;
      content: '';
      width: 100%;
      height: 4px;
      display: block;
      background: linear-gradient(90deg, #1b2482 0%, rgba(27, 36, 130, 0) 100%);
    }
  }
  .rule-title {
    @apply mr-5  min-w-[80px] font-semibold leading-7;
  }
  .multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: justify;
  }
  .model-width{
    @media (min-width: 1280px) {
        max-width: 423px;
        /* height: 600px; */
        background-color: #F8F8F8;
        padding: 10px 40px 40px 40px;
    }
    padding: 40px 40px 40px 40px;
    top: 96px;
}

.content-container {
  position: relative;
  z-index: 2;
  
}
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.fullscreen-overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  z-index: 2;
}

.loginmenu{
  z-index: 2;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  min-height: 100vh; /* 保持全屏高度以便垂直居中 */
}
.swal2-container{
  z-index: 2410;
}

.swal2-toast{
  width: 600px !important;
}

.swal-content{
  font-size: 16px !important;
  font-weight: 600 !important;
  text-align: left !important;
}

.swal-confirm-button{
  background-color: #222222;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.swal-cancel-button{
  background-color: white;
  color: #222222;
  border: 1px solid #222222;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.swal-title{
  width: 100%;
  margin: .5em .5em .1em .5em !important;
  font-size: 22px !important;
  font-weight: 600 !important;
}

/* .swal2-backdrop-show{
  width: 100% !important;
} */

}
